<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954963377161-c3aaehu584mrk8qj70nqhsbqlfde40dr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954963377161-c3aaehu584mrk8qj70nqhsbqlfde40dr</string>
	<key>API_KEY</key>
	<string>AIzaSyCA_44KGDdH_gHuZKI2hIg913iUGjphT1o</string>
	<key>GCM_SENDER_ID</key>
	<string>954963377161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deepakghadi.flashChatFlutter</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-5f94b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-5f94b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954963377161:ios:090fd2aff550c3125d0cd8</string>
</dict>
</plist>